* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  font-family: "Barlow","Sans-serif";
}
.img-tab-1 {
  display: none;
}
.img-tab-2 {
  display: none;
}
.img-tab-3 {
  display: none;
}
.img-des-1 {
  display: none;
}
.img-des-2 {
  display: none;
}
.img-des-3 {
  display: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0 24px;
}
.butt-1 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162542;
  background: #e8eff2;
  border-radius: 8px;
  padding: 11px 14px 11px 14px;
  border: none;
}
h1 {
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 32px;
  text-align: center;
}
.main-p {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  text-align: center;
}
.butt-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #f16718;
  border-radius: 8px;
  border: none;
  padding: 11px 14px 11px 14px;
  margin-top: 32px;
}
.p-2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #7b8bad;
}
.butt-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  margin-bottom: 24px;
}
h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  margin-top: 48px;
  margin-bottom: 24px;
}
h4 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  margin-top: 48px;
  margin-bottom: 24px;
}
h5 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  margin-top: 48px;
  margin-bottom: 24px;
}
h6 {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  margin-top: 48px;
  margin-bottom: 24px;
}
.icons {
  background: #f16718;
  border-radius: 16px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-mob-1 {
  border-radius: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 30px;
}
.img-mob-2 {
  width: 129px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: -20px;
  height: 193px;
  background-color: #f16718;
  background-blend-mode: multiply;
  background-image: url(images/mobile/image-phone-and-keyboard.jpg);
}
.img-mob-3 {
  width: 220px;
  border-radius: 20px;
  position: absolute;
  top: 0;
  right: 16px;
  height: 193px;
}
.section-1 {
  margin-top: 64px;
}
.img-div-1 {
  position: relative;
  padding-bottom: 150px;
}
.img-div-2 {
  margin-top: 24px;
  height: 193px;
  position: relative;
}

.text-div-1 {
  padding: 0 24px 0 24px;
}
.text-div-2 {
  padding: 0 24px 0 24px;
  margin-top: 75px;
}
.elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-3 {
  padding: 0 24px 0 24px;
  display: flex;
  flex-direction: column;
  gap: 64px;
  margin-top: 110px;
}
footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  padding: 0 50px 52px 50px;
  margin-top: 95px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .img-mob-1 {
    display: none;
  }
  .img-mob-2 {
    display: none;
  }
  .img-mob-3 {
    display: none;
  }
  .img-tab-1 {
    display: block;
    width: 478px;
    height: 425px;
    position: absolute;
    right: -151px;
    top: 0;
  }
  .img-tab-2 {
    display: block;
    width: 214px;
    height: 320px;
    position: absolute;
    left: 40px;
    top: 0;
  }

  .img-tab-3 {
    display: block;
    width: 445px;
    height: 320px;
    position: absolute;
    top: 0;
    right: 40px;
  }
  .section-1 {
    display: flex;
    align-items: center;
  }
  header {
    padding: 40px 40px 0 40px;
  }
}
